@font-face {
  font-family: "Century Gothic";
  src: URL("assets/fonts/Century-Gothic.ttf") format("truetype");
}
img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

* {
  font-family: "Century Gothic";
}

/*  header styles */
.site-header {
  background-color: #A9D52F;
  width: 100%;
  max-width: 100%;
}
.site-header--container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.site-header--container .site-branding {
  margin-left: 10px;
}
.site-header--container span {
  margin-right: 26px;
}
@media only screen and (max-width: 1045px) {
  .site-header nav.main-navigation {
    display: none;
  }
}
.site-header nav.main-navigation button {
  display: none;
}
.site-header nav.main-navigation .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Century Gothic";
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  list-style: none;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  font-style: normal;
}
@media only screen and (max-width: 1195px) {
  .site-header nav.main-navigation .nav-menu {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.site-header nav.main-navigation .nav-menu * {
  font-family: "Century Gothic";
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  font-style: normal;
}

/*  acceso styles */
.entry-content .acceso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-content .acceso .errorMessage {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Century Gothic";
  margin-top: 20px;
  text-align: center;
  color: #b00606;
}

.entry-content .acceso .logo-login {
  text-align: center;
}

.entry-content .acceso .logo-login img {
  width: 230px;
  height: 72px;
  margin-top: 130px;
}

.entry-content .acceso .title-login {
  font-family: "Century Gothic";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 49px;
}

.entry-content .acceso .title-login-separator {
  width: 92px;
  border: 1px solid #A9D52F;
  margin-top: 7px;
  margin-bottom: 27px;
}

.entry-content .acceso form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entry-content .acceso .login-remember {
  display: none;
}

.entry-content .acceso .login-username,
.entry-content .acceso .login-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px;
}

.entry-content .acceso label {
  font-family: "Century Gothic";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 4px;
}

.entry-content .acceso .input {
  color: #000000;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 400;
  width: 341px;
  height: 41px;
  padding: 0 16px;
  border: 1px solid #D9D9D9;
  outline: none !important;
  border-radius: 0;
  background-color: #fff;
}

.entry-content .acceso .button {
  font-family: "Century Gothic";
  color: #000000;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 6px;
  border: 1px solid #A9D52F;
  cursor: pointer;
  width: 94px;
  height: 33px;
  text-transform: uppercase;
}

.logout_button {
  background-color: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logout_button span {
  font-family: "Century Gothic";
  color: #000000;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-right: 16px;
}

@media only screen and (max-width: 1023px) {
  .entry-content .acceso .logo-login img {
    width: 158px;
    height: 49px;
  }

  .entry-content .acceso .input {
    width: 290px;
  }
}
/*  user administration styles */
.administration-user {
  margin-bottom: 121px;
}

.administration-user section {
  padding: 16px 0;
}

.administration-user .user_fields_vivienda {
  -ms-grid-columns: (1fr)[12] !important;
  grid-template-columns: repeat(12, 1fr) !important;
}

.administration-user .user_fields_parquing {
  -ms-grid-columns: (1fr)[5] !important;
  grid-template-columns: repeat(5, 1fr) !important;
}

.administration-user .logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.administration-user .logoWrapper img {
  width: 230px;
  height: 71px;
  margin: 40px 0 18px 0;
}

.administration-user .pisos--list--title p {
  font-family: "Century Gothic";
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: start;
}

.administration-user .title-login-separator {
  width: 92px;
  border: 1px solid #A9D52F;
  margin-bottom: 19px;
  margin-left: 0;
}

.administration-user .container-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.administration-user .accordion-user-wrapper {
  border: 1px solid #A9D52F;
  margin-bottom: 19px;
}

.administration-user .accordion-user-administration {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  font-family: "Century Gothic";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  height: 47px;
  width: 515px;
  outline: none;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

.administration-user .panel {
  text-align: start;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  margin-top: 34px;
  margin-bottom: 24px;
}

.administration-user .panel a {
  color: #000;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.administration-user .panel span {
  margin-left: 14px;
}

.administration-user .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.administration-user .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.administration-user .image-wrapper a {
  margin-top: 18px;
}

.administration-user .image-promo {
  width: 133px;
  height: 128px;
}

.administration-user .contacto-container {
  text-align: start;
}

.administration-user .contacto-container a {
  color: #000;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.administration-user .contacto-container img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}

@media only screen and (max-width: 768px) {
  .administration-user .user_fields_vivienda,
.administration-user .user_fields_parquing {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    width: 120px;
    text-align: start;
  }

  .administration-user .pisos--list--container--body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .administration-user .user-field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
  }

  .administration-user .accordion-user-administration {
    width: 300px;
  }

  .administration-user .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .administration-user .image-wrapper {
    margin: 0;
  }
}
/* ubicacion y entorno */
.ubicacion-entorno {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#map {
  height: 100%;
  width: 80%;
}

.ubicacion-entorno .menu-wrapper {
  background-color: #17362E;
  width: 20%;
  padding: 0 19px;
}

.ubicacion-entorno .logo-mapa-page {
  width: 140px;
  height: 48px;
  margin-top: 31px;
}

.ubicacion-entorno .title-mapa-page {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 26px;
  margin-bottom: 16px;
}

.ubicacion-entorno .btn-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  color: #D9D9D9;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  margin-bottom: 18px;
  cursor: pointer;
}

.ubicacion-entorno .click {
  cursor: pointer;
  color: #A9D52F;
}

.ubicacion-entorno .title--map-btn {
  margin-left: 10px;
}

.ubicacion-entorno .click .img-btn-op {
  display: none;
}

.ubicacion-entorno .click .img-btn-cl {
  display: block;
}

.ubicacion-entorno .img-btn-op {
  display: block;
}

.ubicacion-entorno .img-btn-cl {
  display: none;
}

.ubicacion-entorno .gm-ui-hover-effect {
  display: none !important;
}

.map-card img {
  width: 258px;
  height: 149px;
}

.map-card p {
  font-family: "Century Gothic";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

/* promocion styles */
.entry-content .galeria {
  background-color: #17362E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .entry-content .galeria {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.entry-content .galeria--background {
  background: #17362E url(assets/images/detalles-fondo.png) no-repeat;
  background-size: contain;
  background-position: 0 80px;
  max-width: 1580px;
  padding: 60px;
}
.entry-content .galeria--content {
  max-width: 1440px;
}
.entry-content .galeria--content--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}
.entry-content .galeria--content--title div {
  margin-left: auto;
  margin-right: auto;
}
.entry-content .galeria--content--title div img {
  width: 230px;
  height: 80px;
}
.entry-content .galeria--content--groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  min-height: auto;
  overflow: hidden;
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 680px) {
  .entry-content .galeria--content--groups {
    margin: 50px 0;
  }
}
.entry-content .galeria--content--groups--box {
  position: relative;
  margin: 10px;
  color: white;
  text-align: center;
}
.entry-content .galeria--content--groups--box img {
  width: 100%;
}
.entry-content .galeria--content--groups--box--contact {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.entry-content .galeria--content--groups--box--contact a {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
.entry-content .galeria--content--groups--box--contact .group-photo {
  display: none;
}
.entry-content .galeria--content--groups--box.text {
  position: absolute;
}
.entry-content .promocion {
  position: relative;
  min-height: calc( 100vh + 160px);
}
@media only screen and (max-width: 1023px) {
  .entry-content .promocion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.entry-content .promocion--background--image {
  width: 100%;
  height: 100%;
  min-height: calc( 100vh + 160px);
}
.entry-content .promocion--pastilla {
  font-family: "Century Gothic";
  color: #fff;
  position: absolute;
  width: 100%;
  max-width: 490px;
  top: 98px;
  right: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17362E;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 76px 30px 80px 30px;
}
@media only screen and (max-width: 1023px) {
  .entry-content .promocion--pastilla {
    top: unset;
    right: unset;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 625px) {
  .entry-content .promocion--pastilla {
    max-width: 90%;
  }
}
.entry-content .promocion--pastilla* {
  font-family: "Century Gothic";
}
.entry-content .promocion--pastilla > div {
  width: 100%;
}
.entry-content .promocion--pastilla--title {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #A9D52F;
  max-width: 70%;
}
.entry-content .promocion--pastilla--text {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 90%;
}
.entry-content .promocion--pastilla--promos {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 90%;
  margin: 35px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
.entry-content .promocion--pastilla--promos div {
  position: relative;
  width: 100%;
  border-bottom: solid #A9D52F 2px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.entry-content .promocion--pastilla--promos--value {
  position: absolute;
  right: 0;
  font-weight: 700;
}
.entry-content .promocion--pastilla--dossier {
  position: absolute;
  padding: 16px 30px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  bottom: -23px;
  background-color: #A9D52F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 25px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.entry-content .promocion--pastilla--dossier:hover {
  cursor: pointer;
}
.entry-content .pisos--filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 107px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #17362E;
  color: #fff;
}
.entry-content .pisos--filters--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1440px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.entry-content .pisos--filters--container--logo {
  margin-left: 20px;
}
.entry-content .pisos--filters--container--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.entry-content .pisos--filters--container--items--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.entry-content .pisos--filters--container--items--item--heading {
  margin-bottom: 8px;
  width: 100%;
}
.entry-content .pisos--filters--container--items--item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  row-gap: 9px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.entry-content .pisos--filters--container--items--item--content span {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 26px;
  height: 28px;
  background-color: #d9d9d9;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.entry-content .pisos--filters--container--items--item--content span.selected {
  background-color: #A9D52F;
}
.entry-content .pisos--filters--container--button {
  margin-right: 32px;
}
.entry-content .pisos--list {
  padding-top: 16px;
}
.entry-content .pisos--list--container {
  max-width: 88%;
  margin: auto;
  text-align: center;
}
.entry-content .pisos--list--container--heading {
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[13];
  grid-template-columns: repeat(13, 1fr);
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #000;
}
.entry-content .pisos--list--container--heading--item {
  padding: 8px 0;
}
.entry-content .pisos--list--container--body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}
.entry-content .pisos--list--container--body--row {
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[13];
  grid-template-columns: repeat(13, 1fr);
}
.entry-content .pisos--list--container--body--row.odd {
  background-color: rgba(169, 213, 47, 0.08);
}
.entry-content .pisos--list--container--body--row.floor__reserved {
  color: #ababab;
}
.entry-content .pisos--list--container--body--row--cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}
.entry-content .pisos--list--container--body--row--cell a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.entry-content .quorania {
  padding: 130px 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1024px;
  position: relative;
  margin: auto;
}
@media (max-width: 1100px) {
  .entry-content .quorania {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .entry-content .quorania {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.entry-content .quorania--left_content {
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
@media (max-width: 768px) {
  .entry-content .quorania--left_content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.entry-content .quorania--left_content img {
  width: 100%;
  max-width: 420px;
}
@media (max-width: 768px) {
  .entry-content .quorania--left_content img {
    max-width: 100%;
  }
}
.entry-content .quorania--right_content {
  position: relative;
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
}
@media (max-width: 768px) {
  .entry-content .quorania--right_content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.entry-content .quorania--right_content--title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  font-style: normal;
  margin-top: 0;
}
.entry-content .quorania--right_content--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-style: normal;
}
.entry-content .quorania--right_content--title_promotions {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-style: normal;
  margin-top: 33px;
  margin-bottom: 10px;
}
.entry-content .quorania--right_content--promotions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 22px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.entry-content .quorania--right_content--promotions--item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
@media (max-width: 1100px) {
  .entry-content .quorania--right_content--promotions--item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.entry-content .quorania--right_content--promotions--item img {
  width: 100%;
  max-width: 245px;
}
@media (max-width: 1100px) {
  .entry-content .quorania--right_content--promotions--item img {
    max-width: 100%;
  }
}
.entry-content .quorania--right_content--promotions--item--text {
  position: relative;
  color: #fff;
  font-style: normal;
  background-color: #A9D52F;
  width: 126px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -43px auto 0 auto;
  border-radius: 0 45px 0 45px;
  -ms-flex-line-pack: center;
      align-content: center;
  align-content: center;
  row-gap: 0px;
  padding: 10px;
}
.entry-content .quorania--right_content--promotions--item--text > div {
  width: 100%;
  text-align: center;
}
.entry-content .quorania--right_content--promotions--item--text--name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.entry-content .quorania--right_content--promotions--item--text--city {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.entry-content .contacto {
  padding: 130px 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1024px;
  position: relative;
  margin: auto;
}
@media (max-width: 1100px) {
  .entry-content .contacto {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .entry-content .contacto {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.entry-content .contacto--left_content {
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
@media (max-width: 768px) {
  .entry-content .contacto--left_content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.entry-content .contacto--left_content img {
  width: 100%;
  max-width: 420px;
}
@media (max-width: 768px) {
  .entry-content .contacto--left_content img {
    max-width: 100%;
  }
}
.entry-content .contacto--right_content {
  position: relative;
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
}
@media (max-width: 768px) {
  .entry-content .contacto--right_content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.entry-content .contacto--right_content hr {
  color: #A9D52F;
  width: 100px;
  margin: -10px 0 30px 0;
}
.entry-content .contacto--right_content--team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.entry-content .contacto--right_content--team img {
  border-radius: 50%;
  margin-right: 20px;
  max-width: 140px;
  max-height: 140px;
}
.entry-content .contacto--right_content--team--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.entry-content .contacto--right_content--team--data p {
  display: blok;
  padding: 5px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.entry-content .contacto--right_content--team--data p.bold {

}
.entry-content .contacto--right_content--team--data p.bold {
  align-items: center; }

.parking-traseros .check-group label {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.entry-content .contacto--right_content--team--data p img {
  margin-right: 10px;
  margin-bottom: -5px;
}