$green-light: #A9D52F;
$green-dark: #17362E;

@font-face {
	font-family: 'Century Gothic';
	src: URL("assets/fonts/Century-Gothic.ttf") format("truetype"); 
  }

img{
	object-fit: cover;
  	object-position: center;
}
body{
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
*{
	font-family: 'Century Gothic';
}
/*  header styles */
@import "header.scss";

/*  acceso styles */
@import "login.scss";

/*  user administration styles */
@import "user-administration-styles.scss";

/* ubicacion y entorno */
@import "ubicacion-entorno.scss";

/* promocion styles */
@import "promocion.scss";
