$green-light: #A9D52F;
$green-dark: #17362E;

@font-face {
	font-family: 'Century Gothic';
	src: URL("assets/fonts/Century-Gothic.ttf") format("truetype"); 
  }

img{
	object-fit: cover;
  	object-position: center;
}
body{
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
*{
	font-family: 'Century Gothic';
}
	.site-header{		
		background-color: $green-light;
		width: 100%;
		max-width: 100%;	
    &--container{
			max-width: 1440px;
			width: 100%;
			display: flex;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: center;
	    margin: auto;
	    .site-branding{
	    	margin-left: 10px;
	    }
	    span{
	    	margin-right: 26px
	    }
		}
    nav{
    	&.main-navigation{
    		@media only screen and (max-width: 1045px) {
					display: none;
				}   		
    		button{
    			display: none;
    		}
    		.nav-menu{
    			display: flex;
	    		justify-content: center;
	    		align-items: center;
	    		font-family: 'Century Gothic';
					color: #000;
					font-weight: 400;
					font-size: 15px;
					line-height: 18px;
					list-style: none;
					column-gap: 30px;
					font-style: normal;
					@media only screen and (max-width: 1195px) {
						column-gap: 20px;
					}
					*{
						font-family: 'Century Gothic';
						color: #000;
						font-weight: 400;
						font-size: 15px;
						line-height: 18px;
						text-decoration: none;
						font-style: normal;
					}
    		}
    	}
    }
}

/*  acceso styles */
.entry-content .acceso {
    display: flex;
    justify-content: center;
 }
 .entry-content .acceso .errorMessage {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Century Gothic';
    margin-top: 20px;
    text-align: center;
    color: #b00606;
 }
 .entry-content .acceso .logo-login {
  text-align: center;
 }
 .entry-content .acceso .logo-login img {
    width: 230px;
    height: 72px;
	margin-top: 130px;
 }
 .entry-content .acceso .title-login {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 49px;
 }
 .entry-content .acceso .title-login-separator {
  width: 92px;
  border: 1px solid $green-light;
  margin-top: 7px;
  margin-bottom: 27px;
 }

.entry-content .acceso form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.entry-content .acceso .login-remember {
	display: none;
}
.entry-content .acceso .login-username,
.entry-content .acceso .login-password {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}
.entry-content .acceso label {
    font-family: 'Century Gothic';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 4px;
}
.entry-content .acceso .input {
    color: #000000;
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: 400;
    width: 341px;
    height: 41px;
    padding: 0 16px;
    border: 1px solid #D9D9D9;
    outline: none !important;
    border-radius: 0;
	background-color: #fff;
}
.entry-content .acceso .button {
    font-family: 'Century Gothic';
    color: #000000;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 6px;
    border: 1px solid #A9D52F;
    cursor: pointer;
    width: 94px;
    height: 33px;
    text-transform: uppercase;
}
.logout_button {
	background-color: transparent;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.logout_button span{
	font-family: 'Century Gothic';
    color: #000000;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
	margin-right: 16px;
}
@media only screen and (max-width: 1023px) {
  .entry-content .acceso .logo-login img {
    width: 158px;
    height: 49px;
 }

 .entry-content .acceso .input {
  width: 290px;
 }
}

/*  user administration styles */
.administration-user {
	margin-bottom: 121px;
}
.administration-user section {
	padding: 16px 0;

}
.administration-user .user_fields_vivienda {
	grid-template-columns: repeat(12, 1fr) !important;
}
.administration-user .user_fields_parquing {
	grid-template-columns: repeat(5, 1fr) !important;
}
.administration-user .logoWrapper {
	display: flex;
	justify-content: center;
}
.administration-user .logoWrapper img{
	width: 230px;
	height: 71px;
	margin: 40px 0 18px 0;
}
.administration-user .pisos--list--title p {
	font-family: 'Century Gothic';
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
	text-align: start;
}
.administration-user .title-login-separator {
	width: 92px;
	border: 1px solid $green-light;
	margin-bottom: 19px;
	margin-left: 0;
   }
.administration-user .container-accordion {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.administration-user .accordion-user-wrapper {
	border: 1px solid $green-light;
	margin-bottom: 19px;
}

.administration-user  .accordion-user-administration {
	background-color: transparent;
	color: #000;
	cursor: pointer;
	font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
	height: 47px;
	width: 515px;
	outline: none;
	border: none;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
  }
  
.administration-user  .panel {
	text-align: start;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	margin-top: 34px;
	margin-bottom: 24px;
  }
  .administration-user .panel a {
	color: #000;
	font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	text-decoration: none;
	text-align: start;
	display: flex;
  }
  .administration-user .panel span {
	margin-left: 14px;
  }
  .administration-user .gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
  }
  .administration-user .image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
  }
  .administration-user .image-wrapper a {
	margin-top: 18px;
  }
  .administration-user .image-promo {
	width: 133px;
	height: 128px;
  }
  .administration-user .contacto-container {
	text-align: start;
  }
  .administration-user .contacto-container a {
	color: #000;
	font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	text-decoration: none;
	display: flex;
  }
  .administration-user .contacto-container img {
	width: 20px;
	object-fit: contain;
	margin-right: 12px;
  }
  @media only screen and (max-width: 768px) {
	.administration-user .user_fields_vivienda,
	.administration-user .user_fields_parquing
	{
		grid-template-columns: 1fr !important;
		width: 120px;
		text-align: start;
	}
	.administration-user .pisos--list--container--body {
		display: flex;
	}
	.administration-user .user-field-wrapper {
		display: flex;
		justify-content: space-between;
		overflow: auto;
	}
    .administration-user .accordion-user-administration {
		width: 300px;
	}
	.administration-user .gallery-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.administration-user .image-wrapper {
		margin: 0;
	}
  }

.entry-content{
	.promocion{
		position: relative;
		min-height: calc( 100vh + 160px);
		@media only screen and (max-width: 1023px) {
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		&--background--image{
			width: 100%;
			height: 100%;
			min-height: calc( 100vh + 160px);
		}
		&--pastilla{
			font-family: 'Century Gothic';
			color: #fff;
			position: absolute;
		  width: 100%;
		  max-width: 490px;
		  top: 98px;
		  right: 89px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background-color: $green-dark;
		  flex-wrap: wrap;
		  padding: 76px 30px 80px 30px;
		  @media only screen and (max-width: 1023px) {
			top: unset;
    	right: unset;
    	padding-left: 20px;
    	padding-right: 20px 			
		}
			@media only screen and (max-width: 625px) {
				max-width: 90%;   			
			}
		    &*{
		    	font-family: 'Century Gothic';
		    }
		    &>div{
		    	width: 100%;
		    }
		    &--title{
		    	text-align: center;
    			margin-top: 40px;
    			font-weight: 700;
			    font-size: 30px;
			    line-height: 36px;
			    color: $green-light;
			    max-width: 70%;
		    }
		    &--text{
		    	text-align: center;
		    	margin-top: 20px;
		    	font-weight: 400;
			    font-size: 18px;
			    line-height: 22px;
			    max-width: 90%;
		    }
		    &--promos{
		    	font-weight: 400;
			    font-size: 14px;
			    line-height: 17px;
			    max-width: 90%;
			    margin: 35px auto 0 auto;
			    display: flex;
			    flex-wrap: wrap;
			    row-gap: 10px;
			    div{
			    	position: relative;
			    	width: 100%;
			    	border-bottom: solid $green-light 2px;
			    	padding-bottom: 5px;
			    	display: flex;
				    align-items: center;
				    column-gap: 7px;
			    }
			    &--value{
			    	position: absolute;
			    	right: 0;
			    	font-weight: 700;
			    }
		    }
		    &--dossier{
		    	position: absolute;
		    	padding: 16px 30px;
		    	font-weight: 700;
			    font-size: 15px;
			    line-height: 18px;
			    color: #fff;
			    text-decoration: none;
			    bottom: -23px;
			    background-color: $green-light;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    border-radius: 0 25px;
			    column-gap: 5px;
			    &:hover{
			    	cursor: pointer;
			    }
		    }
		}
	}
	.pisos{
		&--filters{
				display: flex;
		    align-items: center;
				min-height: 107px;
				font-style: normal;
				font-weight: 700;
				font-size: 12px;
				line-height: 15px;
	      text-transform: uppercase;
				background-color: $green-dark;
				color: #fff;
    		&--container{
	    		display: flex;
	    		justify-content: space-between;
	    		align-items: center;
	    		width: 100%;
	    		max-width: 1440px;					
			    flex-wrap: nowrap;
			    justify-content: space-between;
			    align-items: center;
			    margin: auto;
	    		&--logo{
	    			margin-left: 20px;
	    		}
	    		&--items{
	    			display: flex;
	    			justify-content: center;
	    			align-items: center;
	    			align-content: center;
	    			column-gap: 45px;
	    			&--item{
	    				display: flex;
	    				align-items: flex-start;
	    				justify-content: flex-start;
	    				flex-wrap: wrap;
	    				&--heading{
	    					margin-bottom: 8px;
	    					width: 100%;
	    				}
	    				&--content{
	    					display: flex;
	    					column-gap: 12px;
	    					row-gap: 9px;
	    					flex-wrap: wrap;
	    					span{
	    						flex-basis: 30%;
	    						width: 26px;
	    						height: 28px;
	    						background-color: #d9d9d9;
	    						border-radius: 50%;
	    						align-items: center;
							    display: flex;
							    justify-content: center;
	    						&.selected{
	    							background-color: $green-light;
	    						}
	    					}
	    				}
	    			}
	    		}
	    		&--button{
	    			margin-right: 32px;
	    		}
    		}
		}
		&--list{
			padding-top: 16px;
			&--container{
				max-width: 88%;
				margin: auto;
				text-align: center;
				&--heading{
					box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
					display: grid;
    				grid-template-columns: repeat(13, 1fr);
    				font-size: 14px;
    				line-height: 17px;
    				font-weight: 700;
    				color: #000;
					&--item {
						padding: 8px 0;
					}
				}
				
				&--body{
					font-size: 16px;
    			line-height: 20px;
    			font-weight: 400;
    			color: #000;
					&--row{
						box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
						display: grid;
    					grid-template-columns: repeat(13, 1fr);
						&.odd{
							background-color: rgba(169, 213, 47, 0.08);
						}
						&.floor__reserved{
							color: #ababab; 
						}
						&--cell{
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 8px 0;
							a{
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}
			}
		}
	}
	.quorania{
		padding: 130px 25px 25px 25px;
		display: flex;
		column-gap: 100px;
		row-gap: 30px;
		justify-content: center;
		width: 100%;
		max-width: 1024px;
		position: relative;
		margin: auto;
		@media( max-width: 1100px){
			max-width: 90%;
		}
		@media( max-width: 768px){
			flex-wrap: wrap;
		}
		&--left_content{
			position: relative;
			flex-basis: 40%;
			@media( max-width: 768px){
				flex-basis: 100%;
			}
			img{
				width: 100%;
				max-width: 420px;
				@media( max-width: 768px){
					max-width: 100%;
				}
			}
		}
		&--right_content{
			position: relative;
			flex-basis: 58%;
			@media( max-width: 768px){
				flex-basis: 100%;
			}
			&--title{
				font-weight: 700;
				font-size: 22px;
				line-height: 27px;
				color: #000;
				font-style: normal;
				margin-top: 0;
			}
			&--text{
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #000;
				font-style: normal;
			}
			&--title_promotions{
				font-weight: 700;
				font-size: 18px;
				line-height: 22px;
				color: #000;
				font-style: normal;
				margin-top: 33px;
				margin-bottom: 10px;
			}
			&--promotions{
				width: 100%;
				display: flex;
				justify-content: flex-start;
				column-gap: 20px;
				row-gap: 22px;
				position: relative;
				flex-wrap: wrap;
				&--item{
					flex-basis: 48%;
					@media( max-width: 1100px){
						flex-basis: 100%;	
					}
					img{
						width: 100%;
						max-width: 245px;
						@media( max-width: 1100px){
							max-width: 100%;	
						}
					}
					&--text{
						position: relative;;
						color: #fff;
						font-style: normal;
						background-color: $green-light;
						width: 126px;
						height: 86px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						margin: -43px auto 0 auto;
				    border-radius: 0 45px 0 45px;
				    align-content: center;
				    align-content: center;
    				row-gap: 0px;
    				padding: 10px;
						&>div{
							width: 100%;
							text-align: center;
						}
						&--name{
							font-weight: 700;
							font-size: 16px;
							line-height: 20px;							
						}
						&--city{
							font-weight: 700;
							font-size: 14px;
							line-height: 20px;
							text-align: left;
						}
					}
				}
			}
		}
	}
}